<p>
  <strong>Answer:</strong>
  <%= @correct_answer.answer %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @correct_answer.answer %>
</p>

<%= link_to 'Edit', edit_correct_answer_path(@correct_answer) %> |
<%= link_to 'Back', correct_answers_path %>
